version: "3.4"

services:
  tester:
    build:
      context: ./
      dockerfile: Dockerfile
      target: builder
    volumes:
      - ./src:/app/src
      - ./tests:/app/tests
      - ./spec:/app/spec
      - ./docker:/app/docker
      - ./phpspec.yml:/app/phpspec.yml
      - ./psalm.xml:/app/psalm.xml