version: "3.4"

services:
  dice-api:
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - "8089:80"
    environment:
      REDIS_URL: redis:6379
      PORT: 80
  redis:
    image: redis:5